.home-menu-icon {
  cursor: pointer;
  color: white;
  padding: 10px;
  overflow: visible;
  margin-left: 10px;
}

.menu-icon-container {
  width: 100%;
  background-color: lightslategrey;
  box-shadow: 0px 2px 18px 0px lightgrey;
  display: flex;
  align-items: center;
  height: 65px;
}

.home-menu {
  position: fixed;
  z-index: 15;
  width: 100%;
  top: 0px;
  left: 0px;
  h1 {
    color: white;
    margin-left: 40%;
  }
  .menu-container {
    margin-left: 20px;
  }
  span {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 20px;
    width: 200px;
    height: 40px;
    box-shadow: 0px 2px 4px 0px lightgrey;
    cursor: pointer;
    user-select: none;
    background-color: white;
    &:hover {
      background-color: cornsilk;
    }
  }
}

.add-menu {
  margin-left: 50px;
  span {
    width: 150px;
  }
}
