.custom-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 1px solid #999;
  padding: 3px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.tag-list {
  position: absolute;
  top: 35px;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 2px 4px 0px lightgrey;
  border: 1px solid #999;
  border-radius: 5px;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  width: 150px;
  & > input {
    border: 0px;
    &:focus {
      outline: none;
    }
  }
  & > div,
  & > input {
    padding: 8px;

    background-color: white;
    & > span {
      padding-left: 5px;
    }
  }
  & > div:hover {
    cursor: pointer;
    background-color: cornsilk;
  }
}
